---
permalink: /
layout: default
---

{% comment %} PREPARE LIST OF SHOWS
1. Get all collections
2. Make list of collections without hashes
3. Remove Pages from that list
{% endcomment %}
{% assign showsWithHashes = site.collections %}
{% assign shows = "" | split: "|" %}
{% for showHash in showsWithHashes %}
  {% unless showHash[1].label == 'pages' %}
    {% assign shows = shows | push:showHash[1] %}
  {% endunless %}
{% endfor %}


{% comment %}PREPARE COPY FOR FEATURES{% endcomment %}
{% assign newsletterMessage=site.data.copy.homepage.newsletter.message %}
{% assign diverseMessage=site.data.copy.homepage.features.diverse %}
{% assign digestibleMessage=site.data.copy.homepage.features.digestible %}
{% assign discussMessage=site.data.copy.homepage.features.discuss %}


{% comment %}PREPARE COPY FOR TERSTIMONIAL{% endcomment %}
{% assign testimonialMessage = site.data.copy.homepage.testimonial.message %}
{% assign testimonialName = site.data.copy.homepage.testimonial.name %}
{% assign testimonialTitle = site.data.copy.homepage.testimonial.title %}
{% assign testimonialPhotoFilenameSlug = site.data.copy.homepage.testimonial.photoFileNameSlug %}

{% include billboard.html %}
{% include showsPosterList.html shows=shows%}
{% include showsList.html shows=shows%}
{% include testimonials.html message=testimonialMessage name=testimonialName title=testimonialTitle photoFilenameSlug=testimonialPhotoFilenameSlug %}
{% include features.html message=newsletterMessage diverseMessage=diverseMessage digestibleMessage=digestibleMessage discussMessage=discussMessage %}
{% include footerMenu.html  %}
