---
permalink: /
layout: default
---

{% comment %} PREPARE LIST OF SHOWS
- Get all collections
- Remove pages and posts from that list
{% endcomment %}
{% assign showsAndPages = site.collections %}
{% assign shows = "" | split: "|" %}
{% for show in showsAndPages %}
  {% unless show.label == 'pages' or show.label == 'posts' %}
    {% assign shows = shows | push:show %}
  {% endunless %}
{% endfor %}


{% comment %}PREPARE COPY FOR FEATURES{% endcomment %}
{% assign newsletterMessage=site.data.copy.homepage.newsletter.message %}
{% assign diverseMessage=site.data.copy.homepage.features.diverse %}
{% assign digestibleMessage=site.data.copy.homepage.features.digestible %}
{% assign discussMessage=site.data.copy.homepage.features.discuss %}


{% comment %}PREPARE COPY FOR TERSTIMONIAL{% endcomment %}
{% assign testimonialMessage = site.data.copy.homepage.testimonial.message %}
{% assign testimonialName = site.data.copy.homepage.testimonial.name %}
{% assign testimonialTitle = site.data.copy.homepage.testimonial.title %}
{% assign testimonialPhotoFilenameSlug = site.data.copy.homepage.testimonial.photoFileNameSlug %}
{% comment %}{% include testimonials.html message=testimonialMessage name=testimonialName title=testimonialTitle photoFilenameSlug=testimonialPhotoFilenameSlug %}{% endcomment %}


{% include billboard.html %}
{% include showsPosterList.html shows=shows%}
{% include showsList.html shows=shows%}
{% include features.html message=newsletterMessage diverseMessage=diverseMessage digestibleMessage=digestibleMessage discussMessage=discussMessage %}
{% include footerMenu.html selected="shows" %}
