---
layout: default
---

{% comment %}Retrieve Clean list of Shows{% endcomment %}
{% assign shows = "" | split: "|" %}
{% for show_hash in site.data.shows %}
  {% assign shows = shows | push:show_hash[1] %}
{% endfor %}

{% comment %} Hide content till ready{% endcomment %}
{% comment %}
{% include programmer-callout.html %}
{% include shows-listing.html shows=shows%}
{% include dino-divider.html %}
{% include features.html %}
{% include dino-divider.html %}
{% include author-note.html note=site.data.copy.homepage.author_note signoff=site.data.copy.homepage.author_note_signoff %}
{% endcomment %}

<h1 class="pb-whole" style="text-align: center;">Currently hatching. Please check back in a bit :)</h1>
