<section class="authorNote pb">

<div class="profilePhoto pb-half">
</div>

<div class="message pb-half">

  <p> Thanks for watching. The depth and variety
  of thinkosaur shows keeps getting better. You
  should leave your email so I can send you
  occasional updates.</p>


  <form>
    <div>
      <input type="email" id="mail" />
    </div>

    <div class="button">
      <button type="submit">Subscribe</button>
    </div>
  </form>




  <p>And hey, great job working on your skillset.
Keep on learning! — Sri Kadimisetty</p>

</div>

</section>
