<section class="episodesList pb">

  <h2>Season One &middot; Spring 2016</h2>
  <h3>Presented by {{ site.data.hosts.sri.name }}</h3>

  <ul>
    {% comment %}PREPARED ORDERED EPISODES{% endcomment %}
    {% assign episodes = include.show.docs %}
    {% assign sortedEpisodes = episodes | sort:"index" %}
    {% assign reversedSortedEpisodes = sortedEpisodes | reverse %}

    {% for episode in reversedSortedEpisodes %}
      <li> <a href="{{ episode.url }}"
           data-desc="{{ episode.content }}">
          {{ episode.title }}</a> </li>
    {% endfor %}
  </ul>

</section>
