<section class="episodesList pb">

  <h2>Season One &middot; Spring 2016</h2>
  <h3> Bi-weekly Episodes by {{ site.data.hosts.sri.name }} </h3>

  <ul>
    {% comment %}PREPARE ORDERED EPISODES{% endcomment %}
    {% assign show = include.show %}
    {% assign slug = show.slug %}
    {% assign episodes = show.docs %}
    {% assign sortedEpisodes = episodes | sort:"index" %}
    {% assign reversedSortedEpisodes = sortedEpisodes | reverse %}

    {% for episode in reversedSortedEpisodes %}
      {% comment %}PREPARE EPISODE{% endcomment %}
      {% assign url = episode.url %}
      {% assign content = episode.content %}
      {% assign title = episode.title %}

      <li> <a href="{{ url }}" data-desc="{{ content }}"> {{ title }}</a> </li>
    {% endfor %}
  </ul>

  <h4></h4>
</section>
