<section class="pb episodes-listing">

  {% for season in include.seasons %}

    {% comment %}Get Season Index as a Word{% endcomment %}

    {% capture seasonInWords %}
      {% include numbers-to-words-converter number=season.index %}
    {% endcapture %}

    <h1>Season {{ seasonInWords }} 
      {% if season.topic %}<span>{{ season.topic }}</span>{% endif %}
    </h1>
    <ul>
      {% for episode in season.episodes reversed %}
        <li> <a class="venobox"
               data-type="vimeo" 
               href="http://vimeo.com/{{ episode.vimeo_ID }}">{{ episode.title }}</a> </li>
      {% endfor %}
    </ul>

    <h3>Hosted by <span>{% include hostName host_id=season.host_id %}</span></h3>
  {% endfor %}

  <script> {% include venobox-init.js %} </script>
</section>
