<section class="features pb">

<div class="pb-half">
  <div class="feature">
    {% include assetImage.html filename="featureDiverse.svg" alt="thinkosaur masthead" %}
    <h2>Diverse</h2>
    <h3>Learn a wide variety of interesting things</h3>
  </div>

  <div class="feature">
    {% include assetImage.html filename="featureDigestible.svg" alt="thinkosaur masthead" %}
    <h2>Digestible</h2>
    <h3>Perfect sized episodes that fit your break time </h3>
  </div>

  <div class="feature">
    {% include assetImage.html filename="featureGoodies.svg" alt="thinkosaur masthead" %}
    <h2>Loaded</h2>
    <h3>Podcasts, Books, Guides, Tutorials etc.</h3>
  </div>
</div>

<div class="pb-half newsletterSignup">
  {{ include.message | markdownify }}
  {% include mailchimpForm.html %}
</div>

</section>
