<section class="features pb">

<div class="pb-half">
  <div class="feature">
    {% include assetImage.html filename="featureDiverse.svg" alt="thinkosaur masthead" %}
    <h2>Diverse</h2>
    <h3>Large variety of interesting topics</h3>
  </div>

  <div class="feature">
    {% include assetImage.html filename="featureToGo.svg" alt="thinkosaur masthead" %}
    <h2>Research To Go</h2>
    <h3>Peek into cutting edge tools and frameworks</h3>
  </div>

  <div class="feature">
    {% include assetImage.html filename="featureDigestible.svg" alt="thinkosaur masthead" %}
    <h2>Digestible Portions</h2>
    <h3>Short episodes that fit into your breaktime</h3>
  </div>
</div>

<div class="pb-half">
  <div class="feature">
    {% include assetImage.html filename="featureFrequent.svg" alt="thinkosaur masthead" %}
    <h2>Frequent Updates</h2>
    <h3>Fresh videos every week</h3>
  </div>

  <div class="feature">
    {% include assetImage.html filename="featureTools.svg" alt="thinkosaur masthead" %}
    <h2>Latest Coverage</h2>
    <h3>Meet new design and development tools</h3>
  </div>

  <div class="feature">
    {% include assetImage.html filename="featureMultitask.svg" alt="thinkosaur masthead" %}
    <h2>Multi Task</h2>
    <h3>Split screen width aids note taking</h3>
  </div>
</div>
</section>
