<section class="pb features">

<h1 class="pb-mobile-only">Some pros to watching thinkosaur shows —</h1>

<div class="pb-padded-half feature">
  {% include feature-diverse.svg %}
  <h2>Diverse</h2>
  <h3>An incredible variety of interesting topics</h3>
</div>

<div class="pb-padded-half feature">
  {% include feature-frequent-updates.svg %}
  <h2>Frequent Updates</h2>
  <h3>Fresh batches served often</h3>
</div>

<div class="pb-padded-half feature">
  {% include feature-research-togo.svg %}
  <h2>Research To Go</h2>
  <h3>Peek into cutting edge tools and frameworks</h3>
</div>

<div class="pb-padded-half feature">
  {% include feature-latest-coverage.svg %}
  <h2>Latest Coverage</h2>
  <h3>Meet new design and development tools</h3>
</div>

<div class="pb-padded-half feature">
  {% include feature-digestible-portions.svg %}
  <h2>Digestible Portions</h2>
  <h3>Short episodes that fit into your breaktime</h3>
</div>

<div class="pb-padded-half feature">
  {% include feature-multitasking.svg %}
  <h2>Multi Tasking</h2>
  <h3>Fits snuggly into half a screen</h3>
</div>


</section>
