<section class="pb showsList">
  <ul>
    <li>
      <a href="#" 
         data-desc="all about bots">
        Automaton
      </a>
    </li>
    <li>
      <a href="#" 
         data-desc="Level up your Mac skills with these nerdy pointers">
        Mac Squared
      </a>
    </li>
    <li>
      <a href="#" 
         data-desc="Web design — tricks, bugs, quirks and delights!">
        FAN CSS TIC
      </a>
    </li>
    <li>
      <a href="#" 
         data-desc="Sifting through the riches and treasures of UNIX ">
        Hash Bang
      </a>
    </li>
    <li>
      <a href="#" 
         data-desc="all about bots">
        Prototypism
      </a>
    </li>
    <li>
      <a href="#" 
         data-desc="Cupcake sized episodes on iOS App Development">
        NS Cupcake
      </a>
    </li>
  </ul>

</section>
