.authorNote {
    form {
        margin-bottom: 2rem;
        width: 80%; 
    }

    @include desktop {
        margin-top: 4rem;
        margin-bottom: 4rem;

        .profilePhoto img{ border-radius: 2%; }
    }

    @include mobile {
        // margin-top: 2rem;
        // margin-bottom: 2rem;
    }

}
