.billboard {
    margin-top: 8rem;
    margin-bottom: 2rem;
    text-align: center;

    h2 { margin-top: 0.4rem; }

    &:after {
        margin: 0 auto;
        padding-top: 0;
        font-size: 2rem;
        content: "▾"; // downward facing arrow UTF-8
        opacity: 0.5;
    }

    @include fadeInDown($duration: 0.4s, $delay: 0s);
}
