// STYLES
body {
    // Position
    margin: 0 auto;

    // Type
    font-family: $fontfamily;
    font-size: $fontsize--base;
    font-weight: normal;

    // Color
    background-color: $color__background;
    color: $color__text;

    // Links
    a {
        color: $color__link; 

        text-decoration: none;
        font-weight: bold;

        // Transitions
        transition: opacity 0.1s ease-out; 

        &:hover { 
            opacity: $opacity__link--hover; 

            // Transitions
            transition: opacity 0.1s linear; } 

        &:active { 
            opacity: $opacity__link--active; 

            // Bring down a little relatively
            top: 2px;
            transition: top 0.1s linear; } } }
