// STYLES
body {
    // Position
    margin: 0 auto;

    // Type
    font-family: $fontfamily;
    font-size: $fontsize--base;

    // Color
    background-color: $color__background;
    color: $color__text;

    // Links
    a {
        text-decoration: none;
        font-weight: bold;
        color: $color__link; 

        &:hover { 
            opacity: $opacity__link--hover; } 
        &:active { 
            opacity: $opacity__link--active; } } 
}
