.episodes-listing {
    margin-bottom: 4rem;

    text-align: center;

    // Animation
    @include fadeInUp($duration: 1s, $delay: 0s);

    @include mobile {
        margin-bottom: 2rem; }

    h1 { 
        margin-bottom: 1rem;
        
        @include mobile {
            font-size: 1.3333333333rem; 
            margin-bottom: 1rem;
            text-align: left; } 

         span {
            font-weight: bold;

            @include mobile { 
                display: block; }

            &:before {
                content: "· "; //Interpunct UTF-8
                @include mobile {content: "";} } } }

    h3 {
        margin-top: 1rem;
        font-size: 1rem;

        @include mobile {
            font-size: 1.3333333333rem; 
            text-align: left; } }

    li {
        font-size: 2.0000000000rem;
        padding-top: 2rem;
        padding-bottom: 1.8rem;
        border-top: 1px solid $color__text;
        border-right: 1px solid $color__text;
        border-left: 1px solid $color__text;

        &:last-child {
            border-bottom: 1px solid $color__text;

            @include mobile {
                border: none; } }

        @include mobile {
            padding: 0;
            margin-bottom: 1rem;
            border: none;
            text-align: left; } 

        a {
            font-weight: normal;
        } 
    }
}
