.extras {
    @include mobile { display: none; }

    @include desktop {
        margin-top: 0;
        padding: 1rem;
        padding-bottom: 0.4rem;
        padding-left: 0.4;

        background: $color__well--background;
        box-shadow: inset 1px 1px 3px 0px $color__well--insetShadow;
        border-radius: 0px 0px 4px 4px;

        @include fadeInDown($duration: 0.4s, $delay: 0s);

        ul { 
            margin-bottom: 0;
            list-style: none;
        }

        li {
            display: inline-block;
            margin-right: 0.4rem;

            &:last-child {
                margin-right: 0.4rem;
            }
        }

        img {
            max-height: 68px;

            box-shadow: 0px 1px 2px 0px $color__well--resourceShadow;
            border: 1px solid $color__well--resourceBorder;
            border-radius: 4px;
        }
    }
}
