.features {
    margin-top: 4rem;
    margin-bottom: 4rem;

    h2  {
        font-weight: bold;}

    h3 {
        line-height: 1.4rem;
        font-weight: normal; }

    .feature {
        margin-bottom: 1rem;
        display: block;
        clear: both;
        min-height: 5rem;

        img {
            float: left;
            display: block;
            margin-right: 1rem;
        }
    }
}
