.footerMenu {
    text-align: center;

    @include desktop {
        margin-top: 4rem;
        margin-bottom: 3rem;

        @include fadeInUp($duration: 0.2s, $delay: 0s);

        ul {
            list-style:none;
            text-align:center;
        }


        .selected { background-color: $color__accent--background; }

        li {
            display: inline-block;
            padding: 1rem 2.6rem;
            margin: 0;
            font-weight: normal;
            font-size: 1rem;
            border: 1px solid $color__borderLinkList;
            border-right: none;

            &:first-child {
                border-top-left-radius: 0.4rem;
                border-bottom-left-radius: 0.4rem;
            }

            &:last-child {
                border-right: 1px solid $color__borderLinkList;
                border-top-right-radius: 0.4rem;
                border-bottom-right-radius: 0.4rem;
            }
        }
    }

    h2 {
        margin-top: 1rem;
        font-size: 0.8rem;
    }

}
