.footerMenu {

    @include desktop {
        margin-top: 4rem;
        margin-bottom: 3rem;

        text-align: center;

        h2 {
            margin-bottom: 2rem;

            font-size: 0.8rem;

            a {
                padding: 1.2rem 2rem;
                border: 1px solid $color__borderLinkList;
                border-radius: 0.4rem;

                font-weight: normal;
                font-size: 1rem;
            }
        }
    }

    @include mobile {
        display: none;
    }

}
