.programmer-callout {
    margin-top: 9.22222222222em;
    margin-bottom: 7.22222222222em;
    text-align: center;

    @include mobile {
        margin-top: 2em;
        margin-bottom: 1em;
        text-align: left; }

    h1, h2 { 
        font-weight: normal;
        font-size: 2.77777777778em; 
        @include mobile { font-size: 1.3333333333em; } }

    h2 {
        margin-top: 0.3em;
        @include mobile { margin-top: 0.2em;}
    }
}


