.programmer-callout {
    margin-top: 6.22222222222rem;
    margin-bottom: 1.22222222222rem;
    max-width: 31.1111111111em;
    text-align: center;

    @include fadeInDown($duration: 0.5s);
    
    @include mobile {
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-align: left; }

    h1, h2 { 
        font-weight: normal;
        font-size: 3.1111111111rem;
        line-height: 116%;
        @include mobile { font-size: 1.3333333333rem; } }

    h2 {
        margin-top: 1.3rem;
        @include mobile { 
            margin-top: 0.2rem;
            &:after {
                display: inline;
                content: " —"; // em dash UTF-8
                opacity: 0.3;

        }}
    }

    &:after {
        margin: 0 auto;
        font-size: 6rem;
        content: "▾"; // downward facing arrow UTF-8
        opacity: 0.3;

        @include mobile {
            display: none;
        }
    }
}


