.relevantLinksList {
    @include desktop {
        margin-top: 3rem;
        margin-bottom: 6rem;

        li {
            position: relative;
            min-height: 6rem;

            border-top: 1px solid darken($color__background, 4%);
            border-left: 1px solid darken($color__background, 4%);
            border-right: 1px solid darken($color__background, 4%);

            &:last-child { 
                border-bottom: 1px solid darken($color__background, 4%); 
            }



            a {
                display: block;
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);

                font-size: 1.5rem;
                text-align: center;
                font-weight: normal;
            }
        }

    }

    @include mobile {
        margin-top: 0rem;
        margin-bottom: 4rem;

        a {
            display: block;
            margin-bottom: 1.5rem;

            font-size: 1.5rem;
            text-align: center;
            font-weight: normal;
        }
    }
}

