.show-heading {
    margin-top: 6.6666666666rem;
    margin-bottom: 3.3333333333rem;
    text-align: center;

    // Animation
    @include fadeInUp($duration: 1s, $delay: 0s);

    @include mobile { 
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: left;}

    h1 {
        font-size: 3.5555555555rem;
        font-weight: bold;

        @include mobile { 
            font-size: 2rem; } }

    h2 {
        padding-top: 0.8rem;
        max-width: 40%;
        margin: 0 auto;
        font-size: 1.3333333333rem;

        @include mobile { 
            max-width: 100%; 
            font-size: 1.3333333333rem; } } }
