.showsList {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3.6rem;
    font-size: 4.2rem;

    @include fadeInUp($duration: 1s, $delay: 0s);

    li {
        a {
            display: block;
            min-height: 5rem;
            margin-bottom: 0.4rem; 
            margin-bottom: 1rem; 

            &:hover {
                font-size: 3.4rem;

                // Hover ON
                transition: font-size 0.2s ease-out; 

                &:after {
                    display: block;
                    margin-top: 0.6rem;

                    content: attr(data-description);
                    font-size: 1rem;
                    font-weight: bold;

                    color: $color__link;

                    @include fadeInUp($duration: 0.2s, $delay: 0s);
                } 
            } 
        } 

        @include mobile { 
            font-size: 2.4rem;
            a {
                min-height: 0;
                margin-bottom: 2rem;
                &:hover {
                    font-size: 2rem;
                    &:after { display: none; }
                } 
            } 
        }
    }
}
