.testimonials {
    position: relative;
    width: 420px;
    height: 535px;
    margin-top: 4rem;
    margin-bottom: 4rem;

    background-image: url('/assets/img/testimonialBackground.png');
    background-repeat: no-repeat;
    background-position: top; 

    .message {
        font-size: 2.1875rem;
        line-height: 2.625rem;
        padding: 1.6rem 4.4rem;
        font-weight: bold;
    }

    .meta {
        position:absolute;
        bottom:0;
        width: 80%;
        padding: 0 4rem 4rem 4rem;

        img {
            display: block;
            float: left;
            margin-right: 1rem;
        }

        .name {
            display: block;
            font-weight: bold;
            margin-bottom: 0.2rem;
        }

        .title {
            margin-top: 0.2rem;
            display: block;
        }
    }
}
