// COLORS
// Backgrounds
$color__background: #F9726C;
$color__accent--background: darken($color__background, 1%);

// Borders
$color__borderLinkList--light: lighten($color__background, 4%);
$color__borderLinkList--dark: darken($color__background, 4%);
$color__borderLinkList: $color__borderLinkList--dark;

// Text
$color__text: #D1524A;
$color__text: #752420;
$color__text: #B84D49;
$color__text--heading: #B84840;
$color__text--subheading: darken(#C24E47, 10%);


// Links
$color__link: #F7FFD9;
$color__link--disabled: #EC6861;
$color__link--visited: mix($color__link, $color__background, 40%);

// Wells
$color__well--insetShadow: rgba(0,0,0,0.20);
$color__well--background: #E5655F;
