// COLORS
// Backgrounds
$color__background: #F9726C;

// Text
$color__text: #D1524A;
$color__text--heading: #B84840;

// Links
$color__link: #F7FFD9;
$color__link--hover: #B7CCAD;
$color__link--active: $color__link;
$color__link--disabled: #EC6861;
