<!DOCTYPE html>
<html>
  <head>
    <!-- META -->
    <meta charset="UTF-8">
    <!-- DNS PREFETCHES -->
    {% comment %}Array of root URLs to dns-prefetch{% endcomment %}
    {% assign URLs = "//lounge.thinkosaur.com|//player.vimeo.com|//f.vimeocdn.com|//cdnjs.cloudflare.com" | split: "|" %}
    {% include dnsPrefetches.html URLs=URLs %}
    <!-- META CONTINUED-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="description" content="">
    <!-- STYLES -->
    <link rel="stylesheet" href="/css/app.css">
    <!-- VERIFICATIONS -->
    <!-- Google Apps -->
    <meta name="google-site-verification" content="qlrEQOVi8CRmeita8gKrcvEZ4UkHCekkj2O0xzXpNf0" />
  </head>
  <body>

        {{ content }}

      <!-- SCRIPTS -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>
  </body>
</html>
