<!DOCTYPE html>
<html>
  <head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="description" content="">
    <!-- STYLES -->
    <link rel="stylesheet" href="/css/app.css">
    <!-- SCRIPTS -->
    <!-- VERIFICATIONS -->
    <!-- Google Apps -->
    <meta name="google-site-verification" content="qlrEQOVi8CRmeita8gKrcvEZ4UkHCekkj2O0xzXpNf0" />
  </head>
  <body>

        {{ content }}

  </body>
</html>
