---
layout: default
---
{% comment %} PREPARE SHOW AND EPISODE
 Use page information to retrieve containing show/collection
{% endcomment %}
{% assign showLabel = page.collection %}
{% assign showsWithHashes = site.collections %}
{% for showHash in showsWithHashes %}
  {% if showHash[1].label == showLabel %}
    {% assign show = showHash[1] %}
    {% assign showSlug = show.slug %}
  {% endif %}
{% endfor %}

{% comment %}PREPARE COPY FOR NEWSLETTER {% endcomment %}
{% assign newsletterMessage=site.data.copy.homepage.newsletter.message %}

{% comment %}PREPARE EPISODE INFO{% endcomment %}
{% assign episodeTitle=page.title %}
{% assign episodeURL=page.url %}
{% assign episodeDescription=page.content %}
{% assign episodeDuration=page.duration %}
{% assign episodePublishDate=page.publishDate %}
{% assign episodeFeatured=page.featured %}
{% assign episodeVimeoID=page.vimeoID %}
{% assign episodeLoungeURL=page.loungeURL %}
{% assign episodeTranscriptURL=page.transcriptURL %}


{% include headerMenu.html  %}
{% include showTitle.html show=show %}
{% include episodeTitle.html title=episodeTitle url=episodeURL description=episodeDescription %}
{% include videoPlayer.html vimeoID=episodeVimeoID %}
{% include subLinks.html notesURL=episodeLoungeURL transcriptURL=episodeTranscriptURL %}
{% include episodeDescription.html description=episodeDescription duration=episodeDuration publishDate=episodePublishDate featured=episodeFeatured %}

{% if page.relevantLinks %}
  {% include relevantLinksList.html links=page.relevantLinks episodeLoungeURL=episodeLoungeURL %}
{% endif %}
{% include showNewsletterBar.html message=newsletterMessage %}
{% include footerMenu.html  selected="shows" %}

