---
layout: default
---
{% comment %}PREPARE SHOW AND EPISODE {% endcomment %}
{% assign showLabel = page.collection %}
{% assign show = site.collections | where: "label", showLabel | first %}

{% comment %}PREPARE COPY FOR NEWSLETTER {% endcomment %}
{% assign newsletterMessage=site.data.copy.homepage.newsletter.message %}

{% comment %}PREPARE EPISODE INFO{% endcomment %}
{% assign episodeTitle=page.title %}
{% assign episodeURL=page.url %}
{% assign episodeDescription=page.content %}
{% assign episodeDuration=page.duration %}
{% assign episodePublishDate=page.publishDate %}
{% assign episodeFeatured=page.featured %}
{% assign episodeVimeoID=page.vimeoID %}
{% assign episodeTranscriptURL=page.transcriptURL %}
{% assign episodeResources=page.resources %}

{% comment %}PREPARE DISCUS CONFIGURATION VARIABLES{% endcomment %}
{% capture siteURL %}{{ site.meta.siteURL }}{{ page.url }}{% endcapture %}
{% comment %}Use the Page URL as Unique Page Identifier {% endcomment %}
{% assign pageID=page.url %}


{% include headerMenu.html  %}
{% include showTitle.html show=show %}
{% include episodeTitle.html title=episodeTitle url=episodeURL description=episodeDescription %}
{% include videoPlayer.html vimeoID=episodeVimeoID %}
{% include extras.html transcriptURL= transcriptURL resources=episodeResources %}
{% include episodeDescription.html description=episodeDescription duration=episodeDuration publishDate=episodePublishDate featured=episodeFeatured %}
{% if page.relevantLinks %}
  {% include relevantLinksList.html links=page.relevantLinks %}
{% endif %}
{% include episodeComments.html siteURL=siteURL pageID=pageID %}
{% include showNewsletterBar.html message=newsletterMessage %}
{% include footerMenu.html %}

