---
layout: default
---

{% comment %}RETRIEVE SHOW FROM COLLECTIONS USING SHOWLABEL{% endcomment %}
{% assign showLabel = page.showLabel %}
{% assign show = site.collections | where: "label", showLabel | first %}


{% comment %}PREPARE COPY FOR NEWSLETTER{% endcomment %}
{% assign newsletterMessage=site.data.copy.homepage.newsletter.message %}

{% include headerMenu.html  %}
{% include showTitleWithDescription.html show=show%}
{% include episodesList.html show=show%}
{% include showNewsletterBar.html message=newsletterMessage %}
{% include footerMenu.html %}
